<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About
                <small>Hi, I am zakir</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>

    <div class="row">
<!-- Team member profile -->
        <div class="col-md-6">
            <img class="facilities-image-size img-responsive" src="images/zakir .png">
        </div>
        <div class="col-md-6">
            <h2>Happy club'</h2>

            <p>After Graduation we did not got jobs. We searched a lot, OOh sorry we did not pass the graduation as a result we did not got an opportunity to write civils exam which was dream of our parents. </p>

            <p>So we used our presense of mind, Every one will do some work so that they want to be happy. So we started Happy club, The main aim of the club is to make you happy. Me with friends irfan and aleem works here, OOh sorry Aleem eat more than working, Since he is happy eating we won't try to stop him    </p>
        </div>

    </div>

    <!-- Team Member Profiles -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>

<p> I don't want to say about my friends because they are the most funniest characters I have seen in my life. But any how they are also responsible for the Happy club I am posting here. Please don't judge me by seeing them.</p>
        <div class="col-sm-4">
            <img class="img-responsive facilities-image-size" src="images/padi.jpg">

            <h3>Irfan(padi)
                <small>Co-ordinator</small>
            </h3>
            <p>Irfan will take care of all the Technological department</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/irfan527?fref=ts" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
              
              
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive facilities-image-size" src="images/motla.jpeg">

            <h3>Aleem(Motla)
                <small>Food coordinator</small>
            </h3>
            <p>Whereever we go he takes the food responsibility and he fullfills ...</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/aleem.shaik1?fref=ts" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
               
            </ul>
        </div>

      

    </div>

   
