<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">FAQ
                <small>Frequently Asked Questions</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">FAQ</li>
            </ol>
        </div>

    </div>
    <div class="row">
        <p>
            Everything in the site is clear, I don't know what are you still looking for. If you still have any questions plese visit my Happy club.
        </p>

</div>
<!-- /.container -->