<!-- Page Content -->

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Facilities
               
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Facilities</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-lg-12">
            <img class="img-responsive center" src="images/services.gif">
        </div>

    </div>
    <!-- /.row -->

    <!-- Service Paragraphs -->

    <div class="row">

        <div class="col-md-8">
            <h2 class="page-header"> Premium Facilities(Hitech copying)</h2>

            <p> Hitech copying one of the most costliest process. We need to buy Technical equitment like scaners, Bluetooth speakers, Laptos etc. So this process will be charged by us. We  support this for only language exams and social studies. As there won't be any difference if you are not goint to learn this. </p>
        </div>


    </div>
    <!-- /.row -->

    <!-- Service Tabs -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">All Facilities</h2>
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#Elope" data-toggle="tab">Elope a girl</a>
                </li>
                <li><a href="#Partner" data-toggle="tab">Parter details</a>
                </li>

                <li><a href="#Revenge" data-toggle="tab">Revenge</a>
                </li>
                <li><a href="#Love" data-toggle="tab">Love failure</a>
                </li>
                <li><a href="#Bevarz" data-toggle="tab">Bevarz</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="Elope">
                    <i class="fa fa-gear pull-left fa-4x"></i>

                    <p>To Elope a girl, you should confirm that the girl is enough brave to take the step. Because once further proceedings are started and the girl says she is not interseted then there is chance for the girl parents to lodge a case against us</p>

                    <p>We will arrage the marriage in Registar office and will register the marriage. Forgot to that you sould be above the age as specified by the Government.</p>
                </div>
                <div class="tab-pane fade" id="Partner">
                    <i class="fa fa-gears pull-left fa-4x"></i>

                    <p>The main problem every one will face where is the girl's house location. Location of the girl's house?. We are working on a app to find it, Till then you can come to uour happy club directly and find the necessery details</p>

                    <p>We don't want you to misuse the details provided, you should not disturb the girl by doing nonsense. We trust you and provide the details and you should take the opportunity to impress the girl by doing something near to her house which she is intersted of.</p>
                </div>
                <div class="tab-pane fade" id="Revenge">
                    <i class="fa fa-magic pull-left fa-4x"></i>

                    <p>Every college will have a sadist lecturer. 90% of the students want to teach a lesson to him. So we provide a funny opporunity to take the revenge</p>

                    <p>The Revenge should be serious, Rather should include things like taking the funny pics of him when he is not observing and sending to him, flattening the bike tyre etc</p>
                </div>
                <div class="tab-pane fade" id="Love">
                    <i class="fa fa-flask pull-left fa-4x"></i>

                   
                </div>
                <div class="tab-pane fade" id="Bevarz">
                    <i class="fa fa-flag pull-left fa-4x"></i>

                  
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

    <!-- Service Images -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Facility Images</h2>
        </div>

        <div class="col-sm-4">
            <img class="facilities-image-size img-responsive" src="images/awful.jpg">
        </div>

        <div class="col-sm-4">
            <img class="facilities-image-size img-responsive" src="images/HAX130219.jpg">

        </div>

        <div class="col-sm-4">
            <img class="facilities-image-size img-responsive" src="images/heavy.jpg">

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
